name: bump-cxpatcher-cask
on:
  schedule:
    - cron:  '0 8 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  bump-casks:
    runs-on: macos-latest
    steps:
      # Fix for the rubocop-ast LoadError
      - name: Install Homebrew developer dependencies
        run: brew install-bundler-gems

      - name: Bump CXPatcher Cask
        uses: macauley/action-homebrew-bump-cask@v1
        with:
          token: ${{ secrets.BUMP_CASK_TOKEN }}
          tap: italomandara/homebrew-CXPatcher
          cask: cxpatcher
          livecheck: true
          dryrun: false
        
