name: bump-cxpatcher-cask
on:
  schedule:
    - cron:  '0 8 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  bump-casks:
    runs-on: macos-latest
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Bump Cask
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.BUMP_CASK_TOKEN }}
        run: |
          # Install the missing gems right before the command
          brew install-bundler-gems
          # Run the official bump command
          brew bump-cask-pr --version=$(brew livecheck cxpatcher --json | jq -r '.[0].version.latest') --tap=italomandara/homebrew-CXPatcher cxpatcher
        
