name: bump-cxpatcher-cask
on:
  schedule:
    - cron:  '0 8 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  bump-casks:
    runs-on: macos-latest
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Bump Cask
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.BUMP_CASK_TOKEN }}
        run: |
          brew install-bundler-gems
          LATEST_VERSION=$(brew livecheck cxpatcher --json | jq -r '.[0].version.latest')
          echo "Latest version found: $LATEST_VERSION"
          brew bump-cask-pr --version="$LATEST_VERSION" italomandara/cxpatcher/cxpatcher
        
